{% extends "forum/layout/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="rata-tengah">
      <div class="judul">
        <h1> Forum {{profile.}}</h1>
      </div>
    </div>
    <div class="col-lg-4">
      <p class="text-center">
        <span class="glyphicon glyphicon-user icon-size"></span>
      </p>
    </div>
    <div class="col-lg-8">
      <p class="text-left"><strong>{{profile.nama}}</strong></p>
    </div>
  </div>
</div>
{% endblock %}
