{% extends "forum/layout/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="rata-tengah">
      <div class="judul">
        <h1> Forum {{company_id}}</h1>
      </div>
    </div>
    {% for post in posts %}
      <p>{{ post.company_id }} - {{ post.content }}</p>
    {% endfor %}
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      IN.API.Raw("/companies/" + 13600614 + ":(id,name,ticker,description)?format=json")
        .method("GET")
        .result(function(response){
          console.log(response);
        })
        .error(onError);
    });
  </script>
</div>
{% endblock %}
