{% extends "sabibatbet_login/layout/base.html" %}
{% block content %}
<p id="baton"></p>
<div id="profileData">
	<h1> Welcome to Our Company SABIBATBET</h1>
	<p id="name"></p>
	<!-- <a href="{% url 'sabibatbet-login:login-mahasiswa' %}" class="btn btn-primary"> Login Perusahaan </a> -->
	<!-- <button onclick="facebookLogin()">Login with Facebook</button>
	<h1> halo</h1> -->
</div>
{% endblock %}
<!-- sign in with linkedin button -->

{% block javascript %}
<script type="in/Login"></script>
{% endblock %}