{% load staticfiles %}
{% load static %}
<!DOCTYPE HTML>
<html lang ="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Statistics">
    <meta name="author" content="{{author}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:900" rel="stylesheet">
    <link rel="shortcut icon" href="https://vignette3.wikia.nocookie.net/campcamp/images/e/e7/LI-favicon.png/revision/latest?cb=20160720055853" type="image/x-icon">
    <title>
        {% block title %} SABIBATBET {% endblock %}
    </title>
</head>
<body>
  <header class="style-ixoij4lm" data-state="" id="SITE_HEADER" style="width: 980px; top: 0px; height: 102px; left: 0px; position: absolute;">
    <div id="SITE_HEADERscreenWidthBackground" class="style-ixoij4lmscreenWidthBackground" style="width: 568px; left: 0px;">
      <div class="style-ixoij4lm_bg">
      </div>
    </div>
    <div id="SITE_HEADERcenteredContent" class="style-ixoij4lmcenteredContent">
      <div id="SITE_HEADERbg" class="style-ixoij4lmbg">
      </div>
      <div id="SITE_HEADERinlineContent" class="style-ixoij4lminlineContent">
        <nav id="comp-ixoh23iw" data-menuborder-y="0" data-menubtn-border="0" data-ribbon-els="0" data-label-pad="0" data-ribbon-extra="0" data-drophposition="" data-dropalign="center" dir="ltr" class="style-ixujkm07" data-state="center notMobile" style="left: 654px; width: 320px; position: absolute; top: 38px; height: 39px;" data-dropmode="dropDown">
          <ul aria-label="Site navigation" role="navigation" id="comp-ixoh23iwitemsContainer" class="style-ixujkm07itemsContainer" style="text-align: center;">
            <li data-direction="ltr" data-listposition="left" data-data-id="dataItem-iwxcbz0b" class="style-ixujkm07repeaterButton" data-state="menu selected idle link notMobile" id="comp-ixoh23iw0" data-original-gap-between-text-and-btn="10" aria-hidden="false" style="width: 149px; height: 39px; position: relative; box-sizing: border-box; overflow: visible;">
              <a role="button" tabindex="0" aria-haspopup="false" data-listposition="left" href="https://editor.wix.com/html/editor/web/renderer/render/template/6bcf8568-6fc1-4e87-87f9-13f7c9a05f07?dsOrigin=Editor1.4&amp;editorSessionId=63E18FAB-530D-450A-A541-32C88F4F85D9&amp;isEdited=true&amp;isSantaEditor=true&amp;lang=en&amp;metaSiteId=56f8884d-9a22-4ef4-ab2d-664c803fbc4e" target="_self" id="comp-ixoh23iw0linkElement" class="style-ixujkm07repeaterButtonlinkElement">
                <div class="style-ixujkm07repeaterButton_gapper">
                  <div id="comp-ixoh23iw0bg" class="style-ixujkm07repeaterButtonbg" style="text-align: right;">
                    <p id="comp-ixoh23iw0label" class="style-ixujkm07repeaterButtonlabel" style="text-align: right; line-height: 39px;">Home</p>
                  </div>
                </div>
              </a>
            </li>
            <li data-direction="ltr" data-listposition="right" data-data-id="dataItem-jb1uae1v" class="style-ixujkm07repeaterButton" data-state="menu  idle link notMobile" id="comp-ixoh23iw1" data-original-gap-between-text-and-btn="10" aria-hidden="false" style="width: 171px; height: 39px; position: relative; box-sizing: border-box; overflow: visible;">
              <a role="button" tabindex="0" aria-haspopup="false" data-listposition="right" href="https://editor.wix.com/html/editor/web/renderer/render/template/6bcf8568-6fc1-4e87-87f9-13f7c9a05f07/members?dsOrigin=Editor1.4&amp;editorSessionId=63E18FAB-530D-450A-A541-32C88F4F85D9&amp;isEdited=true&amp;isSantaEditor=true&amp;lang=en&amp;metaSiteId=56f8884d-9a22-4ef4-ab2d-664c803fbc4e" target="_self" id="comp-ixoh23iw1linkElement" class="style-ixujkm07repeaterButtonlinkElement">
                <div class="style-ixujkm07repeaterButton_gapper">
                  <div id="comp-ixoh23iw1bg" class="style-ixujkm07repeaterButtonbg" style="text-align: right;">
                    <p id="comp-ixoh23iw1label" class="style-ixujkm07repeaterButtonlabel" style="text-align: right; line-height: 39px;">Members</p>
                  </div>
                </div>
              </a>
            </li>
            <li data-listposition="right" class="style-ixujkm07repeaterButton" data-state="menu  idle header notMobile" id="comp-ixoh23iw__more__" data-original-gap-between-text-and-btn="10" aria-hidden="true" style="height: 0px; overflow: hidden; position: absolute;">
              <a role="button" tabindex="-1" aria-haspopup="true" data-listposition="right" id="comp-ixoh23iw__more__linkElement" class="style-ixujkm07repeaterButtonlinkElement">
                <div class="style-ixujkm07repeaterButton_gapper">
                  <div id="comp-ixoh23iw__more__bg" class="style-ixujkm07repeaterButtonbg" style="text-align: right;">
                    <p id="comp-ixoh23iw__more__label" class="style-ixujkm07repeaterButtonlabel" style="text-align: right;">More</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <div id="comp-ixoh23iwmoreButton" class="style-ixujkm07moreButton">
          </div>
          <nav data-drophposition="" data-dropalign="center" id="comp-ixoh23iwdropWrapper" class="style-ixujkm07dropWrapper" style="visibility: hidden; left: auto; right: 0px; bottom: auto;">
            <ul id="comp-ixoh23iwmoreContainer" class="style-ixujkm07moreContainer" style="visibility: hidden; left: auto; right: 0px;" data-listposition="lonely">
            </ul>
          </nav>
        </nav>
        <div class="txtNew" id="comp-ixogvn8s" style="left: 326px; width: 328px; position: absolute; top: 43px;">
          <h1 class="font_0" style="text-align:center; font-size:32px;">
            <span style="font-family:niconne,fantasy;">
              <span style="font-size:32px;">
                <a href="https://editor.wix.com/html/editor/web/renderer/render/template/6bcf8568-6fc1-4e87-87f9-13f7c9a05f07?dsOrigin=Editor1.4&amp;editorSessionId=63E18FAB-530D-450A-A541-32C88F4F85D9&amp;isEdited=true&amp;isSantaEditor=true&amp;lang=en&amp;metaSiteId=56f8884d-9a22-4ef4-ab2d-664c803fbc4e" target="_self">Nama Website</a>
              </span>
            </span>
          </h1>
        </div>
      </div>
    </div>
  </header>
  <content>
    {% block content %}
    {% endblock %}
  </content>
  <footer>
    {% block footer %}
    {% include "forum/partials/footer.html" %}
    {% endblock %}
  </footer>
</body>
</html>
