{% extends "sabibatbet_profile/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Profile Perusahaan
{% endblock %}

{% block css %}
<script type="text/javascript" src="//platform.linkedin.com/in.js">
 api_key:   816mxerpb74tkq
 onLoad:    checkLoggedIn
 authorize: true
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/sabibatbet_profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/sabibatbet_login.css' %}" />
{% endblock %}

{% block header %}
{% include "sabibatbet_profile/partials/header.html" %}
{% endblock %}

{% block content %}
<section style="height: auto;">
  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <header>
        <h1>Company Dashboard</h1>
        <p id="companyName">Welcome </p>
      </header>
      <a href="#" class="button big" style="background-color: black">Lihat Forum</a>
      <a href="#" class="button big" style="background-color: black">Cari Mahasiswa</a>
    </div>
  </section>

  <!-- Section -->
  <section class="wrapper style1">
    <div class="inner">
      <!-- 2 Columns -->
      <h2>About Company</h3>
      <div class="flex flex-1">
        <div class="col col1">
          <p id="about"></p>
        </div>
        <div class="col col2">
          <h5 id="companyType">Company Type: </h5>
          <p id="companyType"></p>
          <h5 id="companyWeb">Website: </h5>
          <h5 id="companySpecialty"><b>Specialities: </h5>
        </div>
      </div>
      <a href="#" class="button">Learn More</a>
    </div>
  </section>
  {% endblock %}

  {% block javascript %}
  <script src="{% static 'js/sabibatbet_profile.js' %}"></script>
  {% endblock %}
